body {
  background-color: #a29fe1;
}

.drawing-pad-container {
  background-color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 4px solid #261010;
  box-shadow: 10px 10px 5px #8270af;
  margin: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #261010;
}